<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.wanda.promoter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Wanda"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Login"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Home"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.Commissions"
            android:label="Commissions"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PromoterVoucher"
            android:label="Promoter Voucher Management"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PendingOrders"
            android:label="@string/orders"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.OrderManagement"
            android:label="@string/order_mgmt"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FarmerVoucherTopup"
            android:label="Farmer Voucher Management"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FarmerRegistration"
            android:label="@string/farmer_reg"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AddFarm"
            android:label="@string/add_farm"
            android:launchMode="singleTask" />
        <activity android:name=".activity.ProductsList"
            android:label="@string/products"/>
        <activity android:name=".activity.CreateOrders"
            android:label="@string/select_farmer"
            android:launchMode="singleTask"/>

        <service
            android:name=".service.BackgroundDataLoaderService"
            android:exported="false" />
    </application>

</manifest>